name: Build and Push for master
on:
  push:
    branches:
      - master
jobs:
  build-images-for-master:
    strategy:
      fail-fast: true
      matrix:
        component:
          - image: kfp-api-server
            dockerfile: backend/Dockerfile
            context: .
          - image: kfp-frontend
            dockerfile: frontend/Dockerfile
            context: .
          - image: kfp-persistence-agent
            dockerfile: backend/Dockerfile.persistenceagent
            context: .
          - image: kfp-scheduled-workflow-controller
            dockerfile: backend/Dockerfile.scheduledworkflow
            context: .
          - image: kfp-viewer-crd-controller
            dockerfile: backend/Dockerfile.viewercontroller
            context: .
          - image: kfp-visualization-server
            dockerfile: backend/Dockerfile.visualization
            context: .
          - image: kfp-launcher
            dockerfile: backend/Dockerfile.launcher
            context: .
          - image: kfp-driver
            dockerfile: backend/Dockerfile.driver
            context: .
          - image: kfp-cache-deployer
            dockerfile: backend/src/cache/deployer/Dockerfile
            context: .
          - image: kfp-cache-server
            dockerfile: backend/Dockerfile.cacheserver
            context: .
          - image: kfp-metadata-writer
            dockerfile: backend/metadata_writer/Dockerfile
            context: .
          - image: kfp-metadata-envoy
            dockerfile: third_party/metadata_envoy/Dockerfile
            context: .
          - image: kfp-inverse-proxy-agent
            dockerfile: proxy/Dockerfile
            context: ./proxy
        arch:
          - name: amd64
            runs-on: ubuntu-latest
            platform: linux/amd64
          - name: arm64
            runs-on: ubuntu-24.04-arm
            platform: linux/arm64
        exclude:
          - component:
              image: kfp-metadata-writer
            arch:
              name: arm64
          - component:
              image: kfp-inverse-proxy-agent
            arch:
              name: arm64
    uses: ./.github/workflows/build-and-push.yml
    secrets: inherit
    with:
      src_branch: master
      target_tag: master
      arch_tag: ${{ matrix.arch.name }}
      overwrite_imgs: True
      set_latest: False
      add_sha_tag: False
      app_to_build: ${{ matrix.component.image }}
      image_context: ${{ matrix.component.context }}
      docker_file: ${{ matrix.component.dockerfile }}
      platforms: ${{ matrix.arch.platform }}
      runs_on: ${{ matrix.arch.runs-on }}
      push: true

  create-manifests:
    needs: build-images-for-master
    strategy:
      fail-fast: true
      matrix:
        component:
          - image: kfp-api-server
          - image: kfp-frontend
          - image: kfp-persistence-agent
          - image: kfp-scheduled-workflow-controller
          - image: kfp-viewer-crd-controller
          - image: kfp-visualization-server
          - image: kfp-launcher
          - image: kfp-driver
          - image: kfp-cache-deployer
          - image: kfp-cache-server
          - image: kfp-metadata-writer
          - image: kfp-metadata-envoy
          - image: kfp-inverse-proxy-agent
    uses: ./.github/workflows/create-manifest.yml
    secrets: inherit
    with:
      target_tag: master
      app_to_build: ${{ matrix.component.image }}
      set_latest: 'false'
